.color {
    card_color: #ffc310;
    card_border_color: #ffd710;
    background-image: -webkit-linear-gradient(89deg, #ff9c19 0%, #ffdd2d 100%);
    background-color:#350b2d;
    text-color: #cb28ae;
    title-text-color: #fffa77;
    text-content-color: #7A5EEB;
    shadow-color: 2.419px 9.703px 12.48px 0.52px rgba(255, 200, 39, 0.2)

}